body{
    padding:0;
}
.app-container{
    display: flex;
    flex-direction:row;
}
.three-container{
    width:50%;
    padding: 10px;

}

.editor-container{
    padding: 10px;
width:50%;
}
.rst__nodeContent{
  cursor:pointer;
}